<div class="chat-top">
  <div class="current-room">
    hogefuga
  </div>
    <div class="destroy-chat">
      <a href=#>チャットを終了する</a>
    </div>
</div>
<div class="chat-middle">
  <div class="messages">

    <div class="message">
      <div class="message-top">
        <div class="message-name">
          Tom
        </div>
        <div class="message-data">
          2020年
        </div>
      </div>
      <div class="message-content">
      こんにちは！！！！！！！！！
      </div>
    </div>

    <div class="message">
      <div class="message-top">
        <div class="message-name">
          Tom
        </div>
        <div class="message-data">
          2020年
        </div>
      </div>
      <div class="message-content">
      おはよう！！！！！！！！！
      </div>
    </div>

  </div>
</div>
<div class="chat-bottom">
  <div class="form-input">
    <input type="text" placeholder="type a message" class="send-message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
    </div>
  <input type="submit" value="SEND" class="send">
</div>