<div class="side-top">
  <div class="user-name">
    Tom
  </div>
  <a href=# class="new-chat">
    チャットを作成する
  </a>
</div>
<div class="rooms">
  <div class="room-name">
      teacroom1
    </div>
    <div class="room-name">
      teacroom2
    </div>
</div>