<div class="side-top">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user),class:"user-name" %>
  </div>
  <%= link_to "チャットを作成する",new_room_path,class:"new-chat" %>
</div>
<div class="rooms">
  <div class="room-name">
      teacroom1
    </div>
    <div class="room-name">
      teacroom2
    </div>
</div>